.travelItem {
    width: -webkit-fill-available;
    background: linear-gradient(135deg, #f5f7fa, #ffffff);
    border-radius: 12px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
    margin: 20px;
    transition: transform 0.2s ease, box-shadow 0.2s ease;
}

.p-dataview .p-dataview-content {
    background-color: transparent;
}

.travelItem:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.travelItem h3 {
    font-size: 1.2rem;
    color: #333;
    margin: 10px 0;
}

.travelItem h3:first-of-type {
    margin-top: 0;
}

.travelItem h3:last-of-type {
    margin-bottom: 20px;
}

.p-button-rounded {
    margin: 5px;
    transition: background-color 0.2s ease, box-shadow 0.2s ease;
}

.p-button-rounded:hover {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.p-button-info {
    border: solid 2px #007bff;
}

.p-button-info:hover {
    background-color: rgba(81, 109, 139, 0.746);
    border: solid 2px #007bff;
}

.p-button-danger {
    border: solid 2px #dc3545;
}

.p-button-danger:hover {
    background-color: #e8727eba;
    border: solid 2px #dc3545;
}

.p-button-search {
    border: solid 2px rgba(98, 159, 240, 0.729);
}

.p-button-search:hover {
    background-color: rgba(98, 159, 240, 0.729);
    border: solid 2px #3591dc;
}

.navbar-personal-account {
    margin-top: 55px;
}