.navbar {
    display: flex;
    justify-content:flex-start;
    align-items: center;
    height: 50px;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #f0f0f0;
    z-index: 10;
    
  }
  
  .navbar nav div {
    padding: 0.5rem 1rem;
    cursor: pointer;
    font-weight: bold;
    text-align: center; 
  }
  
  .navbar nav div.active {
    background-color: #d41111;
  }
  
  /* .content {
    padding: 1rem;
  } */
  a{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: -webkit-fill-available;
    padding: 10px;
    color: black;
  }
  
  

   .active-link {
    border-bottom: 5px solid rgb(128, 163, 232);
    border-top: 5px solid rgb(128, 163, 232);
   } 
  


   .homeImg{
    width: 100vw;
    height: 100vh;

    max-width: 500px;
  max-height: 300px;
  object-fit: contain;
   }

   /* body{
    background-image:url("../../IMG/4.jpg");
    
    background-color: rgba(0, 0, 0, 0.1);
    background-repeat: repeat-y; /* חזור על התמונה אנכית */
    /* background-position: center top; /* מיקום התמונה במרכז למעלה */
   /* background-size: cover; /* כסה את כל שטח האלמנט תוך שמירה על פרופורציות */
   /* background-attachment: fixed; /* תמונת הרקע תישאר במקומה בעת גלילה */
   /* }  */

  .homeDiv{
    position: relative;
    
    display: flex;
  flex-direction: column;
  align-items: center;
    
    width:100vw;
    height: 94vh;
    background-image:url("../../IMG/4.jpg");
    /* background-color: rgba(0, 0, 0, 0.1); */
    background-repeat: repeat-y; /* חזור על התמונה אנכית */
    background-position: center top; /* מיקום התמונה במרכז למעלה */
    background-size: cover; /* כסה את כל שטח האלמנט תוך שמירה על פרופורציות */
    background-attachment: fixed; /* תמונת הרקע תישאר במקומה בעת גלילה */
  }

  .enterTitle{
    color: #534030;
    width: 100vw;
    background-color: #f0f0f0af;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin: 0;
  }
  .slogen{
    color: #534030;
    width: 100vw;
    background-color: #f0f0f0af;
    position: absolute;
    top: 58%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin: 0;
  }
  .title-slogen-div{
    width:fit-content;
    
  }