.navbar {
    display: flex;
    justify-content:flex-start;
    align-items: center;
    height: 50px;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #f0f0f0;
    z-index: 10;
    
  }
  
  .navbar nav div {
    padding: 0.5rem 1rem;
    cursor: pointer;
    font-weight: bold;
    text-align: center; 
  }
  
  .navbar nav div.active {
    background-color: #d41111;
  }
  
  
  a{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: -webkit-fill-available;
    padding: 10px;
    color: black;
  }
  
  

   .active-link {
    border-bottom: 5px solid rgb(128, 163, 232);
    border-top: 5px solid rgb(128, 163, 232);
   } 
  


  .enterTitle{
    color: #534030;
    width: 100vw;
    background-color: #f0f0f0af;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin: 0;
  }
  .slogen{
    color: #534030;
    width: 100%;
    background-color: #f0f0f0af;
    position: absolute;
    top: 58%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin: 0;
  }
  .title-slogen-div{
    width:fit-content;
    
  }
  body{
    background-image:url("../../IMG/4.jpg");
    background-repeat: repeat-y;
    background-position: center top; 
    background-size: cover; 
    background-attachment: fixed;
    background-repeat: repeat-y; 
    background-position: center top; 
    background-size: cover; 
    background-attachment: fixed; 
  }

  .AboutUs{
    background-color: #f0f0f0a6;
    padding: 50px;
    border-radius: 50px;
    font-size:30px;
  }